$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icon-back: "\e900";
$icon-diamond: "\e901";
$icon-facebook-logo: "\e902";
$icon-google-plus: "\e903";
$icon-phone-receiver: "\e904";
$icon-planet-earth: "\e905";
$icon-product: "\e906";
$icon-skype: "\e907";
$icon-twitter-logo-silhouette: "\e908";

